:root {

    --main-bg : hsl(222, 26%, 31%);
    --main-bg2: hsl(0, 0%, 90%);
    --main-bg3: hsl(268, 75%, 9%);

    --main-bg2-sec: hsl(0, 5% , 81%);


    --bg3-digits:hsl(52, 100%, 62%);
}